@using Alex.VirtualStore.Web.HtmlHelpers
@model Alex.VirtualStore.Web.Models.ProdutosViewModel


@foreach (var p in Model.Produtos)
{
    @Html.Partial("ProdutosDetales", p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.Paginacao, i => Url.Action("ListaProdutos", new { pagina = i, categoria = Model.CategoriaAtual }))
</div>